/* AddInvoice.css */

.invoice-container {
  max-width: 950px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heightFix{
  height: 781px;
  overflow-y: scroll;
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.general-info,
.business-info,
.client-info,
.currency-info,
.projects,
.additional-info,
.contact-details {
  margin-bottom: 20px;
}

.projects.mb {
  margin-bottom: 0px;
}

.address-info {
  justify-content: space-between;
  margin-top: 17px;
}

.address-fields {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project-info {
  margin-top: 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: rgb(203, 218, 252);
  padding: 10px;
}

.projects button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.projects button:hover {
  background-color: #45a049;
}

.p-column-filter-overlay.p-component.p-fluid.p-column-filter-overlay-menu.p-ripple-disabled.p-connected-overlay-enter-done {
  background-color: #ececec;
  padding: 10px;
  border-radius: 5px;
}
.p-dropdown-items {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.p-column-header-content {
  margin-left: 20px;
}

.font-bold {
  font-weight: 600;
  padding: 2px;
}

.font-bold:hover {
  background-color: aqua;
  border-radius: 10px;
}

.font-bold.pointerS:hover {
  cursor: pointer;
}

.p-column-filter-add-button.p-button-text.p-button-sm.p-button.p-component{
  display: none;
}

button.p-highlight{
  background-color: aqua;
  padding: 5px;
  border-radius: 3px;
  margin: 3px;
  border: black solid 1px;
}

.p-paginator-page.p-paginator-element{
  padding: 5px;
  border-radius: 3px;
  margin: 3px;
}

.mb15 {
  margin-bottom: 15px;
}